<template>
    <div class="mortage-calculator">    
        <div class="mortage-calculator__grid">
            <div class="mortage-calculator__calculator box">
                <h2 class="mortage-calculator__calculator__title text-sm-h5">{{ $t('mortageCalculator.title') }}</h2>
                
                <p v-if="hasError" class="text-red pb-4">
                    {{ $t('mortageCalculator.errors.emptyRequiredFields') }}
                </p>
                
                <v-form @submit.prevent="onSubmit">
                    <v-text-field
                        :label="$t('mortageCalculator.propertyPurchasePrice')"
                        v-model.number="inputPropertyPrice"
                        type="number"
                        step="1000"
                        prefix="€"
                        @keypress="keypressNumberFilter(event)"
                    />

                    <v-text-field
                        :label="$t('mortageCalculator.totalSavings')"
                        v-model.number="inputTotalSavings"
                        type="number"
                        step="1000"
                        prefix="€"
                        @keypress="keypressNumberFilter(event)"
                    />            
                    
                    <v-switch
                        v-model="inputRealEstateCommission"
                        hide-details
                        inset
                        :label="$t('mortageCalculator.realEstateCommission')"
                    />
                    
                    <v-text-field
                        :label="$t('mortageCalculator.annualRepaymentRate')"
                        v-model.number="inputAnnualRepaymentRate"
                        type="number"
                        step=".1"
                        prefix="%"
                        @keypress="keypressNumberFilter(event)"
                    />
                    
                    <v-btn color="secondary" type="submit">
                        {{ $t('buttons.calculate') }}
                    </v-btn>
                </v-form>
            </div>

            <div class="mortage-calculator__widgets">
                <v-progress-circular
                    v-if="isLoading"
                    indeterminate
                    color="primary"
                ></v-progress-circular>

                <MortageWidget v-if="hasSubmitted">
                    <template v-slot:label>
                        {{ $t('mortageCalculator.widgets.impliedLoan') }}
                    </template>
                    <template v-slot:value>
                        {{ calculateRoundDecimal(rawLoanAmount, 2) }}
                    </template>
                    <template v-slot:symbol>€</template>
                </MortageWidget>

                <MortageWidget v-if="hasSubmitted">
                    <template v-slot:label>
                        {{ $t('mortageCalculator.widgets.loanToValue') }}
                    </template>
                    <template v-slot:value>
                        {{ calculateRoundDecimal(loanToValue, 1) }}
                    </template>
                    <template v-slot:symbol>%</template>
                </MortageWidget>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { ref, computed } from 'vue';

    import MortageWidget from './Widgets/MortageWidget.vue';
    import { CALCULATE_TAXES } from '@/constants';
    import Http from '@/utils/Http';

    export default {
        components: {
            MortageWidget
        },
        setup(props, { emit }) {            
            // Refs
            const inputPropertyPrice = ref(0);
            const inputTotalSavings = ref(0);
            const inputRealEstateCommission = ref(false);
            const inputAnnualRepaymentRate = ref('0');
            
            let isLoading = ref(false);
            let hasError = ref(false);
            let hasSubmitted = ref(false);

            // Computed
            const notaryCosts = computed(() => {
                return 2144.0 + (0.013 * (inputPropertyPrice.value - 100000.0))
            });

            const brokerCosts = computed(() => {
                return 2144.0 + (0.013 * (CALCULATE_TAXES.BROKER_TAX * inputPropertyPrice.value))
            });

            const stampDutyCosts = computed(() => {
                return CALCULATE_TAXES.CITY_TAX * inputPropertyPrice.value;
            });

            const totalCosts = computed(() => {
                return inputRealEstateCommission ? notaryCosts.value + brokerCosts.value + stampDutyCosts.value : notaryCosts.value + stampDutyCosts.value;
            });

            const rawLoanAmount = computed(() => {
                return totalCosts.value - inputTotalSavings.value + inputPropertyPrice.value;
            });

            const loanToValue = computed(() => {
                return rawLoanAmount.value / inputPropertyPrice.value;
            });

            /**
             * calculateRoundDecimal
             * @param {Number} value
             * @param {Number} decimal amount of decimals
             */
            function calculateRoundDecimal(value: number, decimal: number) {
                return Number(value).toFixed(decimal);
            };

            /**
             * Keypress number filter
             * return true if value is 0-9
             * @param event 
             */
            function keypressNumberFilter(event: any) {
                event = (event) ? event : window.event;
                let expect = event.target.value.toString() + event.key.toString();
                
                if (!/^[-+]?[0-9]*\.?[0-9]*$/.test(expect)) {
                    event.preventDefault();
                } else {
                    return true;
                }
            }

            function validateFormForErrors() {
                // @todo add better validation per field
                // for better form input, or form validate package
                hasError.value = inputPropertyPrice.value === 0 ||
                    inputTotalSavings.value === 0 ||
                    inputAnnualRepaymentRate.value === 0;
                                        
                return hasError.value; 
            }

            const onSubmit = () => {
                if(validateFormForErrors()) {
                    return;
                }

                isLoading.value = true;
                hasSubmitted.value = true;
                
                const query = `{
                    root {
                        rates_table(
                            property_price: ${inputPropertyPrice.value},
                            repayment: ${inputAnnualRepaymentRate.value},
                            loan_amount: ${rawLoanAmount.value},
                            years_fixed: [5,10, 15,20, 25,30]
                        )
                    }
                }`;
                
                Http.post(query).then(response => {
                    isLoading.value = false;
                    emit('mortage-calculator-payload', response)
                }).catch(error => {
                    // @todo remove error
                    isLoading.value = false;
                    console.log('error', error);
                });
            }

            return {
                hasError,
                hasSubmitted,
                isLoading,
                inputPropertyPrice,
                inputTotalSavings,
                inputRealEstateCommission,
                inputAnnualRepaymentRate,
                notaryCosts,
                loanToValue,
                rawLoanAmount,
                calculateRoundDecimal,
                keypressNumberFilter,
                onSubmit
            }
        }
    }
</script>

<style lang="scss">
.mortage-calculator__calculator__title {
    margin-bottom: 1rem;
}

.mortage-calculator__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 576px) {
        grid-template-columns: 2fr  1fr;
    }
}

.mortage-calculator__widgets {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    // @todo check mixins for mediaqueries
    @media (min-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
</style>