<template>
    <div class="mortage-widgets">
        <div class="mortage-widgets__content">
            <h3 class="text-sm-h6"><slot name="label"></slot></h3>
            <p><slot name="value"></slot> <slot name="symbol"></slot></p>
        </div>
    </div>
</template>

<style lang="scss">
.mortage-widgets {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: antiquewhite;

    padding: 1rem;

    border-radius: 1rem;
}
</style>