<template>
    <div class="mortage-table" v-if="mortageData">
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        {{ $t('mortageTable.ficationLength') }}
                    </th>
                    <th class="text-left">
                        {{ $t('mortageTable.monthlyRate') }}
                    </th>
                    <th class="text-left">
                        {{ $t('mortageTable.interestRate') }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr
                    v-for="(item, key, index) in mortageData"
                >   
                    <td>{{ key }} {{ $t('mortageTable.years') }}</td>
                    <td>€ {{ item.monthlyRate }}</td>
                    <td>{{ item.borrowingRate }} %</td>
                </tr>
            </tbody>
        </v-table>
    </div>
</template>

<script lang="ts">
import { ref, computed, toRefs, toRef } from 'vue';
export default {
    props: {
        mortageData: { type: Object, default: null } 
    }
}
</script>

<style lang="scss">
.mortage-table {
    margin-top: 2rem;
}
</style>
