<script setup lang="ts">
import MorgageCalculator from './components/MortageCalculator/MortageCalculator.vue';
import MortageTable from './components/MortageTable/MortageTable.vue';
</script>

<template>
  <v-app>
    <v-container>
      <MorgageCalculator @mortage-calculator-payload="(data) => mortageDataPayload(data)"></MorgageCalculator>
      <MortageTable :mortage-data="mortageData"></MortageTable>
    </v-container>
  </v-app>
</template>

<script lang="ts">
  export default {
    data() {
        return {
          mortageData: null,
        }
    },
    methods: {
      mortageDataPayload(data: any) {
        console.log('data', data);
        this.mortageData = data;
      }
    }
  }
</script>
